/* Sidebar.css */

.sidebar-container {
    width: 250px;
    background-color: #0A6847;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-item {
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .sidebar-item:hover {
    background-color: #7ABA78;
  }
  